# Configuración de la base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/event_management?schema=public"

# Puerto del servidor
PORT=3000

# Entorno
NODE_ENV=development
